<!DOCTYPE html>
<html>
<head>
  <title>YelpMap</title>
  
  
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="http://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>

<%= yield %>


<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="http://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>
<script src="http://rawgit.com/mourner/rbush/master/rbush.js"></script>
<script src="/assets/yelp_academic_100_business.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
